[submodule "sushi-attack-enemy-builder"]
	path = sushi-attack-enemy-builder
	url = https://github.com/john9francis/sushi-attack-enemy-builder.git
[submodule "enemy-builder"]
	path = enemy-builder
	url = https://github.com/john9francis/sushi-attack-enemy-builder.git
